.contenedorHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:  hsl(0, 0%, 98%);
}

.contenedorImg {
    margin-top: 3rem;
    width: 500px;
    height: 600px;
}

.fotoMobile{
    display: none;
}

.contenedorImg img {
    width: 100%;
    height: 100%;
}

.contenedorInfo {
    margin-top: 12rem;
    padding: 0 5rem;
    text-align: start;
}

.contenedorInfo h2 {
    font-size: 70px;
    margin-bottom: 3rem;
}

.contenedorInfo p {
    font-size: 18px;
    margin-bottom: 2rem;
    width: 70%;
}


.contenedorInfo button {
    padding: 10px;
    border-radius: 9px;
    color: rgb(249, 249, 249);
    background-color: black;
    width: 130px;
}

.contenedorInfo button:hover {
    cursor: pointer;
    background-color:  hsl(0, 0%, 98%);
    color: black;
}

.contenedorClientes {
    display: flex;
    align-items: center;
    padding: 7rem 0 0 0;
}

.contenedorClientes img {
    padding: 0 2rem 0 0;
}

@media screen and (max-width: 495px) {
    .contenedorHeader {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        padding: 0 1rem;
        margin: 0;
    }

    .contenedorImg {
        top: 0;
        left: 0;
        right: 0;
        height: 300px;
        width: 375px;
    }

    .contenedorInfo {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        text-align: center;
    }

    .contenedorInfo h2 {
        font-size: 35px;
        margin-bottom: 2rem;
    }

    .contenedorInfo p {
        width: 100%;
    }

    .fotoDesktop{
        display: none;
    }

    .fotoMobile {
        display: block;
    }

    .contenedorClientes {
        display: flex;
        object-fit: contain;
        padding: 4rem 0rem;
        margin: 0;
        max-width: 300px;
    }

    .contenedorClientes img {
        padding: 0 1rem;
    }
}