.contenedorHeader {
    padding: 0 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:  hsl(0, 0%, 98%);
}

.contenedorImg {
    margin-top: 3rem;
    width: 500px;
    height: 600px;
}

.fotoMobile{
    display: none;
}

.contenedorImg img {
    width: 100%;
    height: 100%;
}

.contenedorInfo {
    margin-top: 12rem;
    padding: 0 5rem;
    text-align: start;
}

.contenedorInfo h2 {
    font-size: 70px;
    margin-bottom: 3rem;
}

.contenedorInfo p {
    font-size: 18px;
    padding: 0 2rem;
    margin-bottom: 2rem;
    width: 100%;
    color: hsl(0, 0%, 41%);
}


.contenedorInfo button {
    padding: 14px;
    border-radius: 14px;
    color: rgb(249, 249, 249);
    background-color: hsl(0, 0%, 8%);
    width: 150px;
    border: 1px solid transparent;
    font-size: 18px;
}

.contenedorInfo button:hover {
    cursor: pointer;
    background-color:  hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 0%, 8%);
}

.contenedorClientes {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 3rem 0 0 0;
}

.contenedorClientes img {
    padding: 0 2rem 0 0;
    overflow: hidden;
}

@media screen and (max-width: 495px) {
    .contenedorHeader {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 1rem;
        margin: 0;
    }

    .contenedorImg {
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 300px;
        width: 375px;
    }

    .contenedorInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0 0 0;
        margin: 0;
        text-align: center;
    }

    .contenedorInfo h2 {
        font-size: 40px;
        margin-bottom: 1rem;
    }

    .contenedorInfo p {
        padding: 0 1rem;
        line-height: 1.8rem;
        width: 100%;
    }

    .fotoDesktop{
        display: none;
    }

    .fotoMobile {
        display: block;
    }

    .contenedorClientes {
        display: flex;
        justify-content: center;
        object-fit: contain;
        padding: 4rem 0rem;
        margin: 0;
        gap: 30px;
    }

    .contenedorClientes img {
       padding: 0;
    }
}